[submodule "dwm"]
	path = dwm
	url = gdarkc:dwm.git
[submodule "dzcoord"]
	path = dzcoord
  url = https://github.com/klasbj/dzcoord.git
[submodule "dmenu"]
	path = dmenu
	url = https://github.com/klasbj/dmenu.git
[submodule "dzen"]
	path = dzen
	url = https://github.com/klasbj/dzen.git
