[submodule "dwm"]
	path = dwm
	url = gdarkc:dwm.git
[submodule "dzcoord"]
	path = dzcoord
	url = gdarkc:dzcoord
[submodule "dmenu"]
	path = dmenu
	url = gdarkc:dmenu.git
[submodule "dzen"]
	path = dzen
	url = gdarkc:dzen.git
